html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #fafafc;
  position: absolute;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, body, label {
  font-family: "Baskerville";
  font-weight: normal;
  font-color: #000;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

form {
  text-align: center;
}



input:not([type="radio"]):not(#searchChange), textarea {
  margin: auto;
  padding: 12px 0;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 2px solid transparent;
  text-align: center;
  width: 90%;
  font-size: 1em;
  background-color : #EDF0F1;
}

input[type="submit"]{
  cursor: pointer;
}

input[type="submit"]:hover, input[type="submit"]:active {
  background-color: #8ab094 !important; 
}

td a, li a {
  color: #000;
}

nav {
  margin-top: 2%;
  margin-right: 10%;
  display: inline-block;
  float: right;
  overflow: hidden;
  text-align: center;
  color: #8ab094;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  color: white;
  background-color: #8ab094;
}

footer ul {
  padding-left: 0;
  margin-left: 10%;
}

nav li, footer li {
  display: inline-block;
}

nav li:not(:first-child):before, footer li:not(:first-child):before {
  content: " · ";
}

nav a, footer a, .auth a, td a, li a {
  text-decoration: none;
}

.auth a {
  color: #C0C0C0;
  font-weight: normal;
}

footer a:visited, footer a {
  color: white;
}

nav a:hover, footer a:hover {
  text-decoration: underline;
}

nav a{
  color: #8ab094;
}


#logo {
  margin-top: 2%;
  margin-left: 10%;
  display: inline-block;
}

.center-container, .bullshit {
  width: 100%;
  vertical-align: middle;
  position: absolute;
  margin: 0 auto;
  margin-top: 7.5%;
}

.bullshit {
  margin-top: 2.5%;
  margin-left: 5%;
}

#hero {
  margin-left: 10%;
  line-height: 5em;
  color: #8ab094;
}

.auth, table:not(#history), tr {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  width: 300px;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
}

table td , table, th {
  padding: .625em;
  text-align: left;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error, .parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 0px 0 3px;
  padding: 10px;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

.error {
  color: #B94A48;
  background-color: #F2DEDE;
  height: 7%;
}

.error-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

#addLog {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  width: 300px;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
}

#logsHistory {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  padding: 10px;
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
}

#history {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  width: 90%;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
}

th {
  text-align: center;
}

#searchChange {
  color: #000;
  background: none;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 1%;
  width: 200px;
  height: 30px;
}

#searchChange:focus {
  outline: none;
  border-bottom: 3px solid black;
}

#searchButton {
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  position: absolute;
  top: 200px;
  left: 275px;
}

#searchButton:focus {
  outline: none;
}

.fa {
  color: white;
  font-size: 2em;
}

.feedback {
  width: 70%;
}


textarea{
  resize: vertical;
}

a#logOut{
  color: #ff6666;
}
/* color #EDF0F1 */
.ui-widget-content {
  border: 1px solid #aaaaaa;
  background: #EDF0F1 url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
  color: #222222;
}
