body, label{
	font-family: "Helvetica Neue";
	font-size: 18px;
	text-align: center;
}

.topnav{
	padding: 15px;
	margin: 0;
	overflow: hidden;
	background-color: #E6D6FC;
	text-align: center;
}

.topnav a{
	/* float: left; */
	color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #DAEDDF;
  color: black;
}

h1{
	padding: 25px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 10px;
}

section{
  margin: 50px;
	margin-top: 10px;
}

table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: #DAEDDF;
 }
 .tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid #DAEDDF;
}
th{
  padding: 20px 15px;
  text-align: middle;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: middle;
  vertical-align:middle;
  font-weight: 300;
  border-bottom: solid 1px  #DAEDDF;
}
#exploreForm{
	margin: auto;
	width:30%;
  table-layout: fixed;
}

#exploreTable{
	margin-top: 25px;
}
#publicLogs{
	margin: auto;
	width: 70%;
}
#statsTable{
	margin: auto;
	width:30%;
  table-layout: fixed;
}

.stats{
	font-size: 2em;
	font-weight: 400;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#logo-image{
  margin-top: 15px;
  margin-bottom: 30px;
  height: 80px;
  width: 80px;
}

nav{
  margin: 0.25em;
}

a{
  color: #62448C;
}

a:hover{
  color: #8AB094;
  text-decoration: none;
}

input[type=submit]{
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 7px;
  color: #ffffff;
  font-size: 18px;
  background: #C8C8C8;
  padding: 2px 7px 3px 7px;
	border-style: none;
}

input[type=submit]:hover {
  background: #B2A0A7;

}

.coffeebtn {
  -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 7px;
  color: #ffffff;
  font-size: 20px;
  background: #FFEABC	;
  padding: 10px 20px 10px 20px;
  position: absolute;
	bottom: 25px;
	left: 50%;
	transform: translateX(-50%);
}

.coffeebtn:hover {
	color: #ffffff;
  background: #ffcd69;
  text-decoration: none;
}

#searchChange{
	width: 130px;

}
input[id="searchChange"]{
	padding-left: 5px;
	border-style: solid;
	border-color: #ddd;
}

#myForm button{
  padding: 2px 7px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}




.req-container ul {
  list-style-type: none;
  padding: 0px;
}

.form-container input {
  background-color: #bdc3c7;
  border: 0px;
  padding: 3px 10px;
  margin: 5px 0px;
  font-size: 18px;
  width: 150px;
  box-shadow: 3px 3px 0px 0px #ecf0f1;
  display: inline-block;
}
.form-container input:focus {
  background-color: #ecf0f1;
  box-shadow: 3px 3px 0px 0px #bdc3c7;
  outline: none;
}
.form-container input.invalid {
  background: rgba(192,57,43,0.85);
}
.form-container button {
  border: 0px;
  margin: 5px 0px;
  background-color: #bdc3c7;
  font-size: 18px;
  box-shadow: 3px 3px 0px 0px #ecf0f1;
}
.form-container button:focus {
  box-shadow: none;
  outline: none;
  box-shadow: 3px 3px 0px 0px #7f8c8d;
}
.form-container button:hover {
  background-color: #ecf0f1;
  box-shadow: 3px 3px 0px 0px #bdc3c7;
}
.form-container button.valid {
  transition: all 0.75s ease;
  background-color: rgba(39,174,96,0.85);
}


.req-container ul li {
  font-size: 18px;
  padding: 2.5px 0px;
}
.req-container ul li .glyphicon {
  transition: all 0.75s ease;
  float: left;
}
.req-container ul li .glyphicon.invalid {
  color: #c0392b;
}
.req-container ul li .glyphicon.valid {
  color: #27ae60;
  font-size: 22.5px;
  -webkit-transform: rotate(360deg);
}

#main-container {
  width: 450px;
  padding: 15px;
  margin: auto;
}
.form-container {
  float: left;
}
.req-container {
  float: left;
  margin: auto;
  padding-left: 120px;
}

.ui-datepicker {
  width: 17em;
  padding: .2em .2em 0;
  display: none;
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}
.ui-datepicker .ui-datepicker-next {
  right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 45%;
}
.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em;
}
.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}
.ui-datepicker td {
  border: 0;
  padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
  width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
  float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
  width: 95%;
  margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
  width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
  width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
  width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
  border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
  clear: left;
}
.ui-datepicker-row-break {
  clear: both;
  width: 100%;
  font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
  direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
  right: 2px;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
  left: 2px;
  right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
  right: 1px;
  left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
  left: 1px;
  right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
  clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
  float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
  float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
  border-right-width: 0;
  border-left-width: 1px;
}
