<h1>We all want to read more.</h1>
<p> The only way to do it, is to track it little by little day by day.</p>
<div id="excuses">

  <div class="container">
    <div class="one">
      "I dont read enough!"
    </div>
    <div class="two">
      "I'm too busy"
    </div>
    <div class="three">
      *Buying another book to pile on a shelf*
    </div>
    <div class="four">
      "Last book I read? Umm..."
    </div>
  </div>

</div>



<!-- <iframe name="story" src="story.html" width="400" height="200" frameborder="0" scrolling="auto" class="frame-area">
</iframe> -->




<!-- demo image will be here -->
<!-- <img src="/demo"> -->
