<!-- <div class="centering">


<div class="span3 centering text-center"> -->
<div class="center-container" id="hero">
	<h1>
		We all need to read more,<br>
		so keep track of your progress,<br>
		little by little, day by day.
	</h1>
</div>

<!-- </div>
</div> -->
<!-- demo image will be here -->
<!-- <img src="/demo"> -->
