
<div id="addLog">
	<h1>Add Log</h1>
	{{#if message}}
		<div class="error">{{ message }}</div>
	{{/if}}
	<form method="POST" action="addlog">
			<input type="number" placeholder="Number of pages" name="number" min="1" max="1000">
			<input type="text" placeholder="Title" name="title" value="">
			<input type="text" placeholder="Author" name="author" value="">
			<input type="date" placeholder="Date" id="datePicker" name="date" value="">
			<input type="text" placeholder="Comments"name="comments" value="">
			<div>
			<input class="w3-radio" type="radio" name="access" value="public" checked>
				<label>public</label>
				<input class="w3-radio" type="radio" name="access" value="private">
				<label>private</label>
			</div>
		<input type="submit" value="add">
	</form>
</div>	

<!-- <script>
	document.getElementById('datePicker').value = new Date();
</script> -->
<link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
  $( function() {
    $( "#datePicker" ).datepicker();
  } );
</script>
<script>
$(window).on("load resize ", function() {
  var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
  $('.tbl-header').css({'padding-right':scrollWidth});
}).resize();
</script>
