<div class="col-md-2 center_div text-center mt-5 bg-white rounded py-3 px-4">
	<h5>Change username</h5>
	<form method="POST" id="changeUsernameForm" data-parsley-validate="true">
		<div class="form-group">
			<input type="text" name="username" id="newUsername" class="form-control text-center" required data-parsley-validation-threshold="2" data-parsley-type="alphanum" data-parsley-length="[6, 100]" data-parsley-trigger="keyup" data-parsley-remote data-parsley-remote-message='{{{__ "usernameExists"}}}' data-parsley-remote-options='{ "type": "GET" }' data-parsley-remote-validator="validateChangeUsername" value="{{username}}">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-block login">Save changes</button>
		</div>
	</form>
</div>

<script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://parsleyjs.org/dist/parsley.js"></script>
<script src="i18n/{{lang}}.js"></script>

<script>
	//validating that username doesnt yet exist
	console.log("newusername is" + $('#newUsername').val().toLowerCase());
	window.Parsley.addAsyncValidator('validateChangeUsername', function (xhr, statusText) {
    return 202 === xhr.status;
  },'/usercheck?'+$('#newUsername').val().toLowerCase());
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $('changeUsernameForm').parsley();
  });
</script>

<script>
$(document).ready(function () {
$('#changeUsernameForm').parsley().subscribe('parsley:field:error', function () {
	var errorList = document.getElementsByClassName("parsley-errors-list");
	for (var i = 0; i < errorList.length; i++) {
		if (errorList[i].childElementCount == 0){
			errorList[i].style.display = "none";
		}else{
			errorList[i].style.display = "block";
		}
	}
});
$('#changeUsernameForm').parsley().subscribe('parsley:field:success', function () {
var errorList = document.getElementsByClassName("parsley-errors-list");
	for (var i = 0; i < errorList.length; i++) {
		if (errorList[i].childElementCount == 0){
			errorList[i].style.display = "none";
		}else{
			errorList[i].style.display = "block";
		}
	}
});
});
</script>