<div id="exploreForm">
<form method="GET" id="myForm">
	<input type="search" id="searchChange" name="search" placeholder="Search..." >
	<button type="submit"><i class="fa fa-search"></i></button>
</form>

<table id="exploreTable">
	<tbody id="myTable">
		<!-- will insert users here -->
	</tbody>
</table>
</div>


<script src="js/main.js">
</script>
