<div align="center">
<form method="GET" id="myForm">
	<input type="search" id="searchChange" name="search" value="search" >
</form>

<table>
	<tbody id="myTable">
		<!-- will insert users here -->
	</tbody>
</table>
</div>


<script src="js/main.js">
</script>
