<div class="col-md-2 center_div text-center mt-5 bg-white rounded py-3">
<div id="exploreForm">
<form method="GET" id="myForm">
	<input type="text" id="searchChange" name="search" class="form-control" style="border-width: 0 0 2px;border-bottom: 1px solid black;border-radius: 0;outline: none;" placeholder="Search for other users" >
	
</form>

<table id="exploreTable" class="center_div mt-2">
	<tbody id="myTable" class="text-left">
		<!-- will insert users here -->
	</tbody>
</table>
</div>
</div>

<script src="js/main.js">
</script>
