<div id="exploreForm">
<form method="GET" id="myForm">
	<input type="text" id="searchChange" name="search" placeholder="Search for other users" >
	<button type="submit" id="searchButton"><i class="fa fa-search"></i></button>
</form>

<table id="exploreTable">
	<tbody id="myTable">
		<!-- will insert users here -->
	</tbody>
</table>
</div>


<script src="js/main.js">
</script>
