{{#if status}}
<h1>{{status}}</h1>
{{else}}
<h1> Help us make the club better!</h1>
<form method="POST" action="/feedback" id="feedbackForm">
  <div>
    <label for="name"> Your name: </label>
	   <input type="text" name="name" placeholder="Subject...">
  </div>
  <div>
    <label for="email"> Your email: </label>
	   <input type="text" name="email" >
  </div>
  <div>
    <label for="subject"> Subject: </label>
	   <input type="text" name="subject" placeholder="Subject...">
  </div>

  <div>
      <textarea name="message" rows="10" cols="30" placeholder="Comments, concerns, bugs and other issues..."></textarea>
  </div>

	<input type="submit"></input>
</form>
{{/if}}
