{{#if message}}
<div class="error">
	<div class="error-text">
		{{message}}
	</div>
</div>
{{/if}}

<div class="center-container">
	<div class="auth">
		<h2>Forgot your password?</h2>
		<form method="POST" action="/forgot">
			<input type="text" placeholder="email" name="email" required value="">
			<input type="submit" id="submit" value="Reset password">

		</form>
	</div>
</div>