<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<link rel="stylesheet" type="text/css" href="../styles/base.css">
    <link rel="icon"  href="/favicon.ico" />
  </head>

  <body>
    <div id="logo">
      <a href="/" ><img width="50px" height="50px" src="../img/logo-transparent.png"></a>
    </div>

    <nav>
      <ul>
        <h3>
          {{#if user}}
            <li><a href="/addlog">Add Log</a></li>
            <li><a href="/mylogs">My Logs</a></li>
            <li><a href="/mystats">My Stats</a></li>
            <li><a href="/explore">Explore</a></li>
            <li><a href="/profile">Profile</a></li>
          {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Sign Up</a></li>
          {{/if}}
        </h3>
      </ul>
    </nav>

    {{{body}}}

    <footer>
      <ul>
        <h3>
          <li><a href="/feedback">Feedback</a></li>
          <li><a href="/privacy">Privacy Policy</a></li>
          <li><a href="/terms">Terms of Use</a></li>
        </h3>
      </ul>
    </footer>
  </body>
</html>
