<!DOCTYPE html>
<html lang="en">


<head>
	<!-- meta tags -->
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../styles/base.css">
  <link rel="icon"  href="/favicon.ico" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


</head>

<body>

<nav class="topnav">
  {{#if user}}
  <a class="navEl" href="/explore">Explore</a>
  <a class="navEl" href="/addlog">Add Log</a>
	<a class="navEl" href="/mystats">My Stats</a>
  <a class="navEl" href="/profile">Profile</a>
  {{else}}
	<a href="/" class="navbar-left"><img id="navBarImage" src="../img/logo-transparent.png"></a>
  <a class="navEl" href="/">About</a>
  <a class="navEl" href="/login">Login</a>
  <a class="navEl" href="/register">Sign Up</a>
  {{/if}}
<!-- 	<a class="navEl" href="/feedback">Feedback!</a> -->

</nav>


 {{{body}}}
<!-- <div id="wrapper">
<a href="buymeacoff.ee/3uqE1FRno" class="coffeebtn" id="coffeeButton">Enjoying the club? Buy me a coffee!</a>
</div> -->

<footer> 
  <a class="navEl" href="/feedback">Feedback!</a>
  <a class="navEl" href="/privacy">Privacy Policy</a>
  <a class="navEl" href="/terms">Terms of use</a>
</footer>
</body>

</html>
