<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="/styles/base.css">
</head>

<body>
  <title>25 Pages Club</title>
<br>

<div class="logo"> 25 pages club </div>
<br>

<nav>
  <a href="/">About</a>
  <a href="/topchart">Top Chart</a>
  <a href="/login">Login</a>
  <a href="/register">Sign Up</a>
</nav> 



 {{{body}}}
<br>




</body>

</html>