<!DOCTYPE html>
<html lang="en">


<head>
	<!-- meta tags -->
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
	<!-- <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"> -->
	<link rel="stylesheet" type="text/css" href="styles/base.css">
</head>

<body>
  <title>25 Pages Club</title>
<br>

<div class="logo"> 25 pages club </div>
<br>

<nav>
  <a href="/">About</a>
  <a href="/addlog">Add Log</a>
  <a href="/login">Login</a>
  <a href="/register">Sign Up</a>
</nav> 



 {{{body}}}
<br>




</body>

</html>