{{#if message}}
<div class="error">
	<div class="error-text">
		{{message}}
	</div>
</div>
{{/if}}

<div class="center-container">
	<div class="auth">
		<h2>Login</h2>
		<form method="POST" action="login">
			<input placeholder="username" type="text" name="username" value="">
			<input placeholder="password" type="password" name="password" value="">
			<input value="login" type="submit">
		</form>

		<a href="/forgot"><h3>Lost your password?</h3></a>
	</div>
</div>


<!-- 	<div>
<a href="/auth/facebook"><img width="105" height="20" src="../img/login-with-facebook.png"></a></a>
</div> -->