<div class="center-container">
  <div class="auth">
    {{#if user}}
      <h2>@{{user.username}} stats</h2>
    {{/if}}

    <table>
        <tbody>
          <tr>
            <td>Total Pages Read:</td>
            <td class="stats">{{totalPages}}</td>
          </tr>
          <tr>
            <td>Total Books Read:</td>
            <td class="stats">{{totalBooks}}</td>
          </tr>
          <tr>
            <td>Average pages/day:</td>
            <td class="stats">{{avgPages}}</td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
