{{#if user}}
<h1>@{{user.username}} stats</h1>
{{/if}}


<div id="statsTable">
  <table>
    <!-- <thead>
      <tr>
        <th>Total Pages Read: </th>
          <th>Total Books Read:</th>
          <th>Average pages/day</th>
      </tr>
    </thead> -->
      <tbody>
        <tr>
          <td>Total Pages Read:</td>
          <td class="stats">{{totalPages}}</td>
        </tr>
        <tr>
          <td>Total Books Read:</td>
          <td class="stats">{{totalBooks}}</td>
        </tr>
        <tr>
          <td>Average pages/day:</td>
          <td class="stats">{{avgPages}}</td>
        </tr>
      </tbody>
</table>
</div>
