<div class="center-container">
	<div class="auth">
		<p>{{username}}<a href="/changeusername"><img src="img/icons8-edit-50.png" alt="edit username" style="width:1em;height:1em;padding-left:1em;padding-top:0.5em;"></a></p>
		<p>{{email}}</p>
		<p><a href="/change"> {{{__ "changePassword"}}}</a><br></p>
		<a href="/logout" id="logOut"> {{{__ "logOut"}}}</a><br>
	</div>
</div>