<!-- //be able to change the password
//change username
// delete user?
//log out -->

<p>Username:</p>{{ username }}
<p>Email:</p> {{ email }}
<a href="/change"> change username or password</a>


<a href="/logout">Log out </a>