<div class="center-container">
	<div class="auth">
		<p>Username: {{username}}</p>
		<p>Email: {{email}}</p>
		<a href="/change"> change username or password</a><br>
		<a href="/logout">Log out</a>
	</div>
</div>