<div id="main-container">
<h2>Register</h2>
{{#if message}}
<div class="error">{{ message }}</div>
{{/if}}


<script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://parsleyjs.org/dist/parsley.js"></script>

<form method="POST" id="regForm" action="register" data-parsley-validate="true">
<div id="form-container">
	<div>
		<label for="username">Username:</label>
		<input type="text" id="usernameEntry" name="username" required data-parsley-validation-threshold="2" data-parsley-type="alphanum" data-parsley-length="[6, 100]" data-parsley-trigger="keyup" value="">
	</div>
	<div>
		<label for="email">Email:</label> 
		<input type="email" required data-parsley-validation-threshold="2" data-parsley-type="email" data-parsley-trigger="keyup" name="email" value="">
	</div>
	<div>
		<label for="password">Password:</label> 
		<input type="password" placeholder="Enter Password" required data-parsley-validation-threshold="2" data-parsley-length="[6, 100]" data-parsley-trigger="keyup" id="password" name="password" value="">
	</div>
	<div>
		<label for="password-verify">Verify:</label> 
      <input type="password" placeholder="Verify Password" required data-parsley-validation-threshold="2" data-parsley-equalto="#password" data-parsley-trigger="keyup" name="password-verify" id="password-verify"/>
    </div>

	<div><input type="submit" id="submit" value="Register"></div>

</div>


</form>

<a href="/auth/facebook">Sign up through Facebook</a>


</div> <!-- end of main-container -->


<script type="text/javascript">
  $(document).ready(function(){
    $('regForm').parsley();
  });
</script>
<!-- 
<script src="js/username.js">
</script> -->
